<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The bank of Lion King</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table style="width:50%; height:300px; font-size: large">
 <tr style="background-color: goldenrod">
   <th>Index</th>
   <th>Name</th>
   <th>Balance</th>
   <th>Type</th>
   <th>Ruler?</th>
   <th>Good Or Bad?</th>
 </tr>
 <tr style="background-color:lightblue;" align="center" th:each="account: ${accounts}">
   <td th:text="${accountStat.count}" />
   <td th:text="${account.name}" />
   <td th:text="${#numbers.formatDecimal(account.balance, 4, 2, 'POINT')} + ' ' + ${account.currency}" />
   <td th:text="${account.animalType}" />
   <td style="background-color:orange" th:if="${account.king} == true" th:text="'King'" />
   <td th:unless="${account.king} == true" th:text="' '" />
   <td th:switch="${account.goodOrBad}">
     <span th:case="'G'" th:text="'Good One'" />
     <span th:case="'B'" style="font-family:'Comic Sans MS' " th:text="'Bad Guy'" />
   </td>
 </tr>
</table>
<h3 style="font-style: oblique" th:text="'You can raise here the balance of the account:'"></h3>
<select th:field="*{accounts}">
    <option th:each="account: ${accounts}"
            th:value="${account.name}"
            th:text="${account.name}" />
</select>
<button type="submit" value="Raise" >Raise</button>
</body>
</html>