<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Iron Bank of Bravoos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table style="width:50%; height:300px; font-size: large">
 <tr style="background-color:crimson">
   <th>Index</th>
   <th>Name</th>
   <th>Balance</th>
   <th>Great House</th>
   <th>Ruler?</th>
   <th>Has debt?</th>
   <th>Dead or Alive</th>
 </tr>
 <tr style="background-color:darkgray;" align="center" th:each="account: ${accounts}">
   <td style="color:oldlace" th:text="${accountStat.count}" />
   <td th:text="${account.name}" />
   <td th:text="${#numbers.formatDecimal(account.balance, 4, 2, 'POINT')} + ' ' + ${account.currency}" />
   <td th:text="${account.greatHouse}" />
   <td style="background-color:floralwhite; font-weight:bold" th:if="${account.king} == true" th:text="'King'" />
   <td th:unless="${account.king} == true" th:text="' '" />
   <td th:switch="${account.debt}">
     <span th:case="'Y'" th:text="'Yes...'" />
     <span style="color:crimson; font-weight:bold;" th:case="'N'" th:text="'NO!'" />
   </td>
   <td th:switch="${account.dead}">
     <span style="color:oldlace" th:case='true' th:text="'Dead'" />
     <span style="color:oldlace" th:case='false' th:text="'Still alive'" />
   </td>
   <td></td>
 </tr>
</table>
<form action="#" th:object="${selectedaccount}" th:action="@{'/multiaccounts'}" method="post">
  <select th:field="*{name}">
    <option th:each="account: ${accounts}"
            th:value="${account.name}"
            th:text="${account.name}" />
  </select>
  <button type="submit" value="Loan" >Loan, I got the consequences</button>
</form>
<h3 style="font-style: oblique" th:text="'I kindly ask the Iron Bank to help me with a loan for the Great War!'"></h3>
</body>
</html>