<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table style="width:50%">
<tr th:each="account: ${accounts}">
    <td th:text="${accountStat.index}" />
    <td th:text="${account.name}" />
    <td th:text="${#numbers.formatDecimal(account.balance, 4, 2, 'POINT')}" />
    <td th:text="${account.animalType}" />
</tr>
</table>
</body>
</html>