<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <title>Arya Stark's Death List</title>
</head>
<body style="margin:15% 10%; background-image: url(https://wallpaperscraft.com/image/game_of_thrones_maisie_williams_arya_stark_94598_2560x1440.jpg); background-repeat: no-repeat">
<h1 style="font-family:'OCR A Std'; color: ghostwhite; font-size:80px">Welcome Arya!</h1>
<a href="/candidate/login" style="font-family:'OCR A Std'">Gain access to my Death List</a>
</body>
</html>